# code coverage
.coverage
htmlcov

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Compiled language files
po/*.mo
po/cleanerml.pot
po/desktop.pot
locale/

# build
bleachbit.egg-info/
build/
dist/
upx/
bleachbit/Revision.py
BleachBit-Portable/
BleachBit-*-portable.zip
windows/BleachBit*.exe
windows/BleachBit*.zip
windows/NsisInclude/FilesToInstall.nsh
windows/NsisInclude/FilesToUninstall.nsh
windows/NsisInclude/LocaleToInstall.nsh
windows/NsisInclude/LocaleToUninstall.nsh

# editor backups and temporary files
*~
*.bak
*.swp