# code coverage
.coverage
htmlcov

# Byte-compiled / optimized / DLL files
*.py[cod]

# Compiled language files
po/*.mo
po/*.pot
locale/

# Windows build
build/
dist/
BleachBit-Portable/
BleachBit-*-portable.zip
windows/BleachBit*.exe

# editor backups and temporary files
*~
*.bak
*.swp
