# code coverage
.coverage
htmlcov

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Compiled language files
po/*.mo
po/cleanerml.pot
po/desktop.pot
locale/

# build
bleachbit.egg-info/
build/
dist/
upx/
BleachBit-Portable/
BleachBit-*-portable.zip
windows/BleachBit*.exe
windows/BleachBit*.zip
bleachbit/Revision.py

# editor backups and temporary files
*~
*.bak
*.swp