build: off

environment:
  matrix:
    - PYTHON_HOME: "C:\\Python27"

init:
  - 'echo PYTHON_HOME=%PYTHON_HOME%'
  - ver

install:
  - '%PYTHON_HOME%\python.exe -V'
  - '%PYTHON_HOME%\Scripts\pip.exe --version'
  - '%PYTHON_HOME%\Scripts\pip.exe install pypiwin32'
  - ps: Start-FileDownload "http://ftp.gnome.org/pub/GNOME/binaries/win32/pygtk/2.24/pygtk-all-in-one-2.24.2.win32-py2.7.msi"
  - msiexec /i pygtk-all-in-one-2.24.2.win32-py2.7.msi /qn /norestart /log pygtk-install.log TARGETDIR=C:\Python27 ALLUSERS=1

cache:
  - pygtk-all-in-one-2.24.2.win32-py2.7.msi

test_script:
 - '%PYTHON_HOME%\python.exe tests\TestAll.py'
