build: off
version: 1.13.{build}
branches:
  only:
  - utf8filenames

environment:
    PYTHON_HOME: 'C:/Python27'
    SZ_EXE   :   '"C:/Program Files/7-Zip/7z.exe"'
    make : 'C:/MinGW/bin/mingw32-make.exe'

init:
  - 'echo PYTHON_HOME=%PYTHON_HOME%'
  - '%PYTHON_HOME%/python.exe -V'
  - '%PYTHON_HOME%/Scripts/pip.exe --version'

install:
  - '%PYTHON_HOME%/Scripts/pip.exe install pypiwin32'
  - '%PYTHON_HOME%/Scripts/pip.exe install winshell'
  - '%PYTHON_HOME%/Scripts/pip.exe install py2exe_py2'
  - ps: Start-FileDownload "http://ftp.gnome.org/pub/GNOME/binaries/win32/pygtk/2.24/pygtk-all-in-one-2.24.2.win32-py2.7.msi"
  - 'msiexec /i pygtk-all-in-one-2.24.2.win32-py2.7.msi /qn /norestart /log pygtk-install.log TARGETDIR=C:\Python27 ALLUSERS=1'
  - ps: Start-FileDownload "http://github.com/upx/upx/releases/download/v3.92/upx392w.zip"
  - '%SZ_EXE% x upx392w.zip'
  - ps: Start-FileDownload "http://github.com/mlocati/gettext-iconv-windows/releases/download/v0.19.8.1-v1.14/gettext0.19.8.1-iconv1.14-static-32.zip"
  - '%SZ_EXE% x gettext0.19.8.1-iconv1.14-static-32.zip -ogettext'
  - 'set OLDPATH=%PATH%'
  - 'set PATH=%PATH%;%cd%\gettext\bin;C:\MinGW\bin;'
  - 'msgunfmt -V'
  - 'strip.exe -V'
  - '%make% -C po local'
  - '%PYTHON_HOME%/python.exe  windows/setup_py2exe.py'
  - 'set PATH=%OLDPATH%' # restore old path to not affect test script

cache:
  - pygtk-all-in-one-2.24.2.win32-py2.7.msi
  - upx392w.zip
  - gettext0.19.8.1-iconv1.14-static-32.zip

test_script:
  - '%PYTHON_HOME%/python.exe tests/TestAll.py'
