build: off
version: 5.0.2.{build}
image: Visual Studio 2022

environment:
    PYTHON_HOME: 'c:\projects\bleachbit\vcpkg_installed\x86-windows\tools\python3'
    PYTHON_EXE: '%PYTHON_HOME%\python.exe'
    MSYS_BIN: 'C:\msys64\usr\bin'
    SZ_EXE   :   '"C:/Program Files/7-Zip/7z.exe"'
    make : '%MSYS_BIN%\make.exe'

init:
  - 'systeminfo | findstr /B /C:"OS Name" /C:"OS Version"' # show Windows version
  - 'echo PYTHON_HOME=%PYTHON_HOME%'
  - ps: |
      Get-WmiObject Win32_Process | Select-Object ProcessName, @{Name="UserName";Expression={$_.GetOwner().User}} | Format-Table -AutoSize

install:
  - cmd: call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x86
  - # The Visual Studio 2013 image had msys, but Visual Studio 2022 image does not.
  #- ps: '& "$env:APPVEYOR_BUILD_FOLDER\windows\msys-install.ps1"'
  - ps: '& "$env:APPVEYOR_BUILD_FOLDER\windows\python-gtk3-install.ps1"'
  # UPX 4.0.2, 4.1.0, and 4.2.3 cause ModuleNotFoundError during build
  # UPX 4.0.1 works
  - ps: if (-not (Test-Path upx.zip)) { Start-FileDownload "https://github.com/upx/upx/releases/download/v4.0.1/upx-4.0.1-win64.zip" -FileName upx.zip}
  - ps: Get-FileHash upx.zip
  - '%SZ_EXE% x upx.zip'
  - 'rename upx-4.0.1-win64 upx'
  - 'dir .\upx\'
# Show version numbers of installed software.
# This also checks that the software is installed.
  - '%make% -v'
  - '%MSYS_BIN%\msgunfmt.exe -V'
  - '%MSYS_BIN%\strip.exe -V'
  - '%PYTHON_EXE% -V'
  - '"c:\Program Files (x86)\NSIS\makensis.exe" /version'

build_script:
  - ps: $env:REV8 = $env:APPVEYOR_REPO_COMMIT.Substring(0,8)
  - 'echo revision = "%REV8%" > bleachbit\Revision.py'
  - 'echo build_number = "%APPVEYOR_BUILD_NUMBER%" > bleachbit\Revision.py'
  - 'set PATH=%MSYS_BIN%;%PATH%'
  - 'echo %PATH%'
  - '%make% PYTHON=%PYTHON_EXE% -C po local bleachbit.pot'
  - '%PYTHON_EXE% -m windows.setup'
  - 'move windows\BleachBit*.exe .'
  - 'move windows\BleachBit*.zip .'
  - ps: Get-FileHash BleachBit-*

cache:
  - gtk3.24-x86-windows.zip -> appveyor.yml, windows/python-gtk3-deps.lst, windows/python-gtk3-install.ps1

test_script:
# coveralls.io
  - '%PYTHON_HOME%\Scripts\pip3.exe install python-coveralls requests[security]'
# shorten very long path because of error https://github.com/az0/bleachbit/issues/166
  - 'set PATH=c:\windows\system32;c:\windows;c:\windows\system32\wbem;c:\windows\SysWOW64\WindowsPowerShell\v1.0\'
  - 'SET DESTRUCTIVE_TESTS=T'
# Catch warnings as errors. Also set in `tests/common.py`.
  - 'SET PYTHONWARNINGS=error'
  - '%PYTHON_HOME%\Scripts\coverage.exe run --include="bleachbit/*" tests/TestAll.py'

artifacts:
  - path: BleachBit-*-setup.exe
    name: FullInstaller

  - path: BleachBit-*-setup-English.exe
    name: EnglishInstaller

  - path: BleachBit-*-portable.zip
    name: Portable

  - path: .coverage

deploy:
  - provider: S3
    access_key_id:
      secure: CrPvjz7Jvg4gwOHKxUsL0PPR4mqAjB2p15/pvFw3fCk=
    secret_access_key:
      secure: VoAH5pVyhmTK3/KRuV5WcgfkTR3k/M9QDt7UD6ewcwNfkUvMynwjAHnKCG4vR0Rx
    bucket: bleachbitci
    folder: dl/$(APPVEYOR_BUILD_VERSION)-$(APPVEYOR_REPO_BRANCH)
    artifact:
    set-public: true
    reduced_redundancy: true
