[Desktop Entry]
Version=1.0
Type=Application
Name=BleachBit
Comment=Free space and maintain privacy
Comment[ar]=تفريغ المساحة والحفاظ على الخصوصية
Comment[ast]=Llibera espaciu y caltién la to privacidá
Comment[be]=Вольная прастора і кіраваньне сакрэтнасьцю
Comment[bg]=Освободете място и запазете поверителност
Comment[ca]=Allibera l'espai i manté la privacitat
Comment[cs]=Uvolní místo na disku a ochrání vaše soukromí
Comment[da]=Frigør plads og beskyt privatlivet
Comment[de]=Behalte den freien Platz und die Privatsphäre
Comment[eo]=Liberigi lokon kaj prizorgi privatecon
Comment[eo_new]=Liberigi lokon kaj prizorgi privatecon
Comment[es]=Libera espacio y mantiene la privacidad
Comment[et]=Vabasta ruumi ja säilita privaatsus
Comment[fi]=Vapauta tilaa ja hallitse yksityisyyttä
Comment[fr]=Libérer de l'espace et effacer ses traces
Comment[gl]=Liberar espazo e manter a intimidade
Comment[he]=פינוי מקום ושמירה על הפרטיות
Comment[hi]=मुक्त स्थान और गोपनीयता बनाए रखने
Comment[hr]=Oslobodi prostor i očuvaj povjerljivost
Comment[hu]=Hely felszabadítása és magánszférájának fenntartása
Comment[id]=Bersihkan ruang dan menjaga privasi
Comment[it]=Libera spazio e mantiene la privacy
Comment[ja]=スペースの確保とプライバシーの保全
Comment[ko]=자동 청소 및 개인정보 유지
Comment[ku]=Ciyê vala û parastina nepeniyê
Comment[lt]=Atlaisvinkite vietą bei apsaugokite privatumą pašalindami nereikalingus failus ir duomenis
Comment[ms]=Kosongkan ruang dan kekalkan kerahsiaan
Comment[nb]=Ledig plass og bevare personvern
Comment[nl]=Maak ruimte vrij en behoudt privacy
Comment[pl]=Zwolnij miejsce i zarządzaj prywatnością
Comment[pt]=Libertar espaço e manter a privacidade
Comment[pt_BR]=Espaço livre e manter privacidade
Comment[ro]=Spațiu liber și păstrarea intimității
Comment[ru]=Свободное пространство и управление секретностью
Comment[sk]=Voľné miesto a zachovanie súkromia
Comment[sl]=Sprostite prostor in ohranite zasebnost
Comment[sv]=Frigör plats och behåll integritet
Comment[th]=พื้นที่ว่างและการรักษาความเป็นส่วนตัว
Comment[tr]=Boş alan ve gizlilik koruması
Comment[uk]=Вільний простір та керування приватністю
Comment[vi]=Làm trống ổ đĩa và bảo vệ sự riêng tư
GenericName=Unnecessary file cleaner
GenericName[ar]=منظّف الملفات غير المرغوبة
GenericName[ast]=Llimpiador de ficheros non necesarios
GenericName[be]=Неабавязковы уборшчык файлаў
GenericName[bg]=Изчистване на непотребни файлове
GenericName[ca]=No cal eliminar fitxers
GenericName[cs]=Čistič disku od nepotřebných souborů
GenericName[da]=Unødvendig fil-oprydder
GenericName[de]=Reiniger für unnötige Dateien
GenericName[eo]=Purigilo de nenecesaj dosieroj
GenericName[eo_new]=Purigilo de nenecesaj dosieroj
GenericName[es]=Limpiador de archivos innecesarios
GenericName[et]=Mittevajalike failide puhastaja
GenericName[fi]=Turha tiedostonsiivooja
GenericName[fr]=Nettoyeur de fichiers inutiles
GenericName[gl]=Limpador de ficheiros innecesarios
GenericName[he]=מנקה הקבצים הבלתי נחוצים
GenericName[hi]=अनावश्यक क्लीनर फ़ाइल
GenericName[hr]=Čistač nepotrebnih datoteka
GenericName[hu]=Szükségtelen fájl törlő
GenericName[id]=Pembersih berkas yang tidak penting
GenericName[it]=Ripulisce file non necessari
GenericName[ja]=不要なファイルクリーナ
GenericName[ko]=불필요한 파일 청소
GenericName[ku]=Paqijkirina pelên nehewce
GenericName[lt]=Nereikalingų failų šalinimas
GenericName[ms]=Pembersih fail yang tak perlu
GenericName[nb]=Unødvendig filrenser
GenericName[nl]=Verwijder overbodige bestanden
GenericName[pl]=Program czyszczący z niechcianych plików
GenericName[pt]=Limpeza de ficheiros desnecessários
GenericName[pt_BR]=Limpar arquivos desnecessários
GenericName[ro]=Ștergerea fișierelor nenecesare
GenericName[ru]=Необязательный уборщик файлов
GenericName[sk]=Čistenie nepotrebných súborov
GenericName[sl]=Čistilec za nepotrebne datoteke
GenericName[sv]=Icke nödvändig filrensning
GenericName[th]=ตัวลบแฟ้มที่ไม่จำเป็น
GenericName[tr]=Gereksiz dosya temizleyici
GenericName[uk]=Необов'язкова чистка файлів
GenericName[vi]=Trình dọn dẹp tập tin không cần thiết
GenericName[zh_CN]=不必要文件清理器
GenericName[zh_TW]=無用檔案清理器
TryExec=bleachbit
Exec=bleachbit
Icon=bleachbit
Categories=GTK;System;
Encoding=UTF-8
StartupNotify=true

