[Desktop Entry]
Version=1.0
Type=Application
Name=BleachBit
GenericName=Unnecessary file cleaner
Comment=Free space and maintain privacy
TryExec=bleachbit
Exec=bleachbit
Categories=GTK;Utility;Security;
Encoding=UTF-8
