[Desktop Entry]
Version=1.0
Type=Application
Name=BleachBit
GenericName=Unnecessary file cleaner
GenericName[bg]=Изчистване на непотребни файлове
GenericName[ca]=No cal eliminar fitxers
GenericName[cs]=Čistič nepotřebných souborů
GenericName[de]=Unnötiger Dateienlöscher
GenericName[es]=Limpiador de archivos innecesarios
GenericName[fr]=Nettoyeur de fichiers inutiles
GenericName[he]=מנקה הקבצים הבלתי נחוצים
GenericName[it]=File di pulitura non necessario
GenericName[nl]=Overbodige bestandenverwijderaar
GenericName[pt_BR]=Limpar arquivos desnecessários
GenericName[sk]=Čistenie nepotrebných súborov
Comment=Free space and maintain privacy
Comment[bg]=Освободете пространство и защитете поверителността си
Comment[ca]=Allibera l'espai i manté la privacitat
Comment[cs]=Uvolnit prostor na disku a udržet soukromí
Comment[es]=Libera espacio y mantiene la privacidad
Comment[fr]=Libère de l'espace et préserve la vie privée
Comment[he]=פינוי מקום ושמירה על הפרטיות
Comment[it]=Libera spazio e mantiene la privacy
Comment[nl]=Maak ruimte vrij en behoudt privacy
Comment[pt_BR]=Espaço livre e manter privacidade
Comment[sk]=Voľné miesto a zachovanie súkromia
TryExec=bleachbit
Exec=bleachbit
Icon=bleachbit
Categories=GTK;System;
Encoding=UTF-8
StartupNotify=true
