include doc/CONTRIBUTING.md
include COPYING
include MANIFEST
include MANIFEST.in
include Makefile
include README.md
include bleachbit-indicator.svg
include bleachbit.png
include bleachbit.py
include bleachbit.spec
include cleaners/*xml
include cleaners/Makefile
include data/app-menu.ui
include debian/bleachbit.dsc
include debian/compat
include debian/copyright
include debian/debian.changelog
include debian/debian.control
include debian/debian.rules
include doc/cleaner_markup_language.xsd
include doc/example_cleaner.xml
include org.bleachbit.BleachBit.desktop
include org.bleachbit.BleachBit.metainfo.xml
include org.bleachbit.policy
include po/*po
include po/Makefile
include setup.py
# openSUSE Build Service uses these tests.
include tests/*.py
include windows/*bat
include windows/*ps1
include windows/bleachbit.ico
include windows/bleachbit.nsi
include windows/gtk*pot
include windows/requirements.txt
recursive-include bleachbit *py
