include COPYING
include MANIFEST
include MANIFEST.in
include Makefile
include bleachbit.desktop
include bleachbit.spec
include bleachbit.png
include cleaners/*xml
include po/*po
include po/Makefile
recursive-include bleachbit *py
