# These are universal dependencies.
# requests 2.32.5 throws warning with chardet >= 6.0.0
# https://github.com/psf/requests/issues/7219#issuecomment-3956177087
chardet==6.0.0.post1 # for cleaning .ini files
# On Windows with 32-bit Python if you do not wish to build from source,
# then use psutils==7.1.1.
psutil==7.2.2 # avoid cleaning application that is running
# Use requests to check for application updates and download winapp2.ini
# requests 2.33.0 requires Python >=3.10
requests==2.32.5; python_version<'3.10'
requests==2.33.0; python_version>='3.10'
# setuptools 83 requires Python >=3.10
setuptools==82.0.1; python_version=='3.9'
setuptools==83.0.0; python_version>='3.10'
# Installation methods for PyGObject vary by system.
# Development dependencies vary by system.
# See windows/requirements.txt for Windows-specific dependencies.
