# Test/CI dependencies
coverage==7.10.7
# pytest 9+ does not support Python 3.9, but pytest 8 has
# CVE-2025-71176. Python 3.9's CI never invoke pytest
# (unittest only), so pytest 8 is never actually used.
pytest==9.1.1; python_version>='3.10'
pytest==8.4.2; python_version<'3.10'
pytest-xdist==3.8.0; python_version>='3.10'
# needed to combine coverage across pytest-xdist worker processes
pytest-cov==7.1.0; python_version>='3.10'
