cachetools
chardet==3.0.4
pefile==2019.4.18   # pefile 2021.5.13 uses a f-string that fails with Python 3.4
plyer==2.0.0 # Python 3.4 support dropped https://github.com/kivy/plyer/pull/720/files
pypiwin32==223
requests
scandir==1.10.0
win-unicode-console==0.5
winshell==0.6